<h1>Articles pages</h1>

<ul>
  <% @article = Article.all %>
    <% @article.each do |article|%>
    <li>
      <p><%= link_to article.title, article_path(article.id) %></p>
    </li>
    <% end %>
</ul>
