$navbar-default-bg: #337ab7;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('ratBackground.jpg');
  background-size: cover;
  height: 700px;
}

.jumbotron h1{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
}

.btn-primary a {
  color: #fff;
}

.article-actions {
  border-top: 1px solid #fff;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #337ab7;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul li {
  list-style: none;
  float: right;
  margin-left: 15px;
}

.navbar-default .navbar-nav > li > a{
  color: #fff;
}
